/*Header*/
header h1{
    color: white;
    padding: 2%;
    text-align: center;
    background-image: url("/images/BG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: .1em;
    font-weight: 200;
}

/*Nav*/
nav ul {
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: rgb(69, 34, 74);
    padding: .5em;
}

nav ul li a:hover, .active{
    background-color: rgb(136, 74, 149);
    color: white;
    border-radius: 30%;
}

nav ul li{
    display: inline-block;
    padding: .5em;
}

nav ul li ul li{
    background-color: white;

}


.dropdown{
    position: relative;
}

.dropdown:hover .products{
    display: block;
}

.products{
    display: none;
    position: absolute;
    padding-left: 0;
}

.products li{
    width: max-content;
}


/*Body*/
body{
    background-color: rgba(228, 228, 250, .3) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

h3, p, h2{
    color: rgb(136, 74, 149);
    text-align: center;
}

p{
    width: 50%;
    display: block;
    margin: auto;
}

#space{
    margin-bottom: 3em;
}

img{
    display: block;
    margin: auto;
    height: 30em;
}

main{
    padding-bottom: 6em;
}

/*Footer*/

#footer{
  position: relative;
  margin-top: -4em;
  height: 4em;
  width: 100%;
  color: rgb(69, 34, 74);
}

.footerHR{
     border: 1px solid rgb(136, 74, 149);
     width: 100%;
 }