/*Header*/
    header h1{
        color: white;
        padding: 2%;
        text-align: center;
        background-image: url("/images/BG2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        letter-spacing: .1em;
        font-weight: 200;
    }

/*Nav*/ 
nav ul {
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: rgb(69, 34, 74);
    padding: .5em;
}

nav ul li a:hover, .active{
    background-color: rgb(136, 74, 149);
    color: white;
    border-radius: 30%;
}

nav ul li{
    display: inline-block;
    padding: .5em;
}

nav ul li ul li{
    background-color: white;

}

.dropdown{
    position: relative;
}

.dropdown:hover .products{
    display: block;
}

.products{
    display: none;
    position: absolute;
    padding-left: 0;
}

.products li{
    width: max-content;
}


/*Body*/
    body{
        background-color: rgba(228, 228, 250, .3) ;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
    }

    main{
        padding-bottom: 10em;
    }
    .error{
        text-align: center;
        color: darkred;
        font-size: large;
        text-decoration: underline;
        text-transform: capitalize;
    }

/*Form formatting including the flex stuff*/

form{
    width: max-content;
    box-shadow: 0 0 .2em rgb(136, 74, 149);
    margin: auto;
    padding: 4%;
    text-align: center;
}

input{
    margin: 10px 0;
}

input[type="submit"]{
    color: whitesmoke;
    background-color: rgb(136, 74, 149);
    border-radius: .4em;
    padding: .2em;
    margin-top: 1.2em;
    margin-left: auto;
}

.formInp{
    padding: .7em;
    margin: auto;
}

.container {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

/*Footer*/  
#footer{
    position: relative;
    margin-top: -4em;
    height: 4em;
    width: 100%;
    color: rgb(69, 34, 74);
  }
  
  .footerHR{
       border: 1px solid rgb(136, 74, 149);
       width: 100%;
   }
