/*Header*/
header h1{
    color: white;
    padding: 2%;
    text-align: center;
    background-image: url("/public/images/BG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: .1em;
    font-weight: 200;
}

/*Nav*/
nav ul {
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: rgb(69, 34, 74);
    padding: .5em;
}

nav ul li a:hover, .active{
    background-color: rgb(136, 74, 149);
    color: white;
    border-radius: 30%;
}

nav ul li{
    display: inline-block;
    padding: .5em;
}

nav ul li ul li{
    background-color: white;
}

.dropdown{
    position: relative;
}

.dropdown:hover .products{
    display: block;
}

.products{
    display: none;
    position: absolute;
    padding-left: 0;
}

.products li{
    width: max-content;
}


/*Body*/
body{
    background-color: rgba(228, 228, 250, .3) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

main{
    padding-bottom: 6em;
}

/*Form formatting including the flex stuff*/

#page-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form{
width: max-content;
height: max-content;
box-shadow: 0 0 .2em rgb(102, 51, 153);
margin: 2em auto;
padding: 4%;
text-align: center;
}

form h3{
    text-decoration: underline;
    margin-bottom: 1.5em;
    margin-top: .5em;
}

input{
margin: 10px 0;
}

input[type="submit"]{
color: whitesmoke;
background-color: rgb(102, 51, 153);
border-radius: .4em;
padding: .2em;
margin-top: 1.2em;
margin-left: auto;
}

.payment-frm{
padding: .7em;
margin: auto;
}

.container {
margin: 15px;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
}

.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
}

#cart{
display: flex;
flex-direction: column;
width: 26.2em;
box-shadow: 0 0 .2em rgb(102, 51, 153);
margin: 2.2em auto;
padding: 4%;
}

#cart h3{
    text-align: center;
    text-decoration: underline;
}

.cart-product{
    width: 20em;
    height: 20%;
    display: block;
    margin: 2em 3em auto;
    
}

.cart-product img{
    width: 4em;
}

/*Footer*/  
#footer{
    position: relative;
    margin-top: -4em;
    height: 4em;
    width: 100%;
    color: rgb(102, 51, 153);
    font-family: 'Courier New', Courier, monospace;
  }
  
.footerHR{
    border-top: 1px solid rgb(102, 51, 153);
}