#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cool-product img{
    width: 20em;
    height: 20em;
}

.cool-product{
    text-align: center;
    box-shadow: 0px 0px 15px 4px darkorchid;
    width: 20em;
    margin-bottom: 5em;
}

html{
    background-image: linear-gradient(to bottom right, rgb(123,72,255), rgb(66,165,211));
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    position: relative;
    margin-top: -4em;
    height: 4em;
    width: 100%;
    color:antiquewhite ;
}

.footerHR{
    border: 1px solid rgb(123, 72, 255);
}

header h1, h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    text-align: center;
    letter-spacing: .1em;
}

header h1{
    font-size: 3.5em;
    word-spacing: .5em;
    margin-bottom: 0;
}


header{
    margin-bottom: 4em;
}

section{
    margin: 6em 6em;
    font-family: monospace;
    font-size: large;
}

input[type="submit"]{
    background-color: antiquewhite;
    border: none;
    color: darkorchid;
    border-radius: .5em;
    padding: .4em;
    width: 33%;
    font-weight: bold;
}