header h1{
    color: white;
    padding: 2%;
    text-align: center;
    background-image: url("../images/BG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: .1em;
    font-weight: 200;
}

/*Body*/
body{
    background-color: rgba(228, 228, 250,.2) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

form{
    width: max-content;
    box-shadow: 0 0 .2em rgb(102, 51, 153);
    margin: auto;
    padding: 4%;
    text-align: center;
}

form input{
    margin: auto;
}

input[type="submit"]{
    color: whitesmoke;
    background-color: rgb(102, 51, 153);
    border-radius: .4em;
    padding: .2em;
    margin-top: 1.2em;
    margin-left: auto;
}

.formInp{
    padding: .7em;
    margin: auto;
}

/*Footer*/  
footer h5{
    color: rgb(102, 51, 153);
    font-family: 'Courier New', Courier, monospace;
}

.footerHR{
    margin-top: 12em;
    border-top: 1px solid rgb(102, 51, 153);
}
